.hero-section {
    height: 100vh;
    padding-top: 15rem;
    text-align: center;
    background-color: transparent;
    z-index: -1;
}
.hero-section .flex-hero {
    flex-direction: column;
    gap: 30px;
    text-align:center;
}